<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">Almanach</h4>
    <p class="text-center">Le {{ now | date:'fullDate'}}</p>
    <h5 class="card-text text-center">{{ saint() }}</h5>
    <br/>
    <p class="text-center"><strong>{{city()}}</strong></p>
    @if(ephemerid()) {
      <h6 class="card-subtitle mb-2 text-muted">
        @if( ephemerid()?.sun_rise) {
          <div class="row">
            <div class="col-6 text-center">
              <img alt="sunrise" src="images/sunrise.png" />
              {{ ephemerid()!.sun_rise }}
            </div>
            <div class="col-6 text-center">
              <img alt="sunset" src="images/sunset.png" />
              {{ ephemerid()!.sun_set }}
            </div>
          </div>
        }
        @if(ephemerid()?.day_length) {
          <div class="row mt-3">
            <div class="col-12 text-center">
              <img alt="day_length" src="images/day_length.png" />
              {{ ephemerid()!.day_length }}
            </div>
          </div>
        }
      </h6>
    }

    <br/>
    @if(meteo3Days()) {
      <div class="row">
      @for(meteoDay of meteo3Days(); track meteoDay.day) {
          <div class="col-4">
            <div class="text-center">
              <b>{{meteoDay.datetime | date:'dd/MM' }}</b>
            </div>
            <div class="text-center">
              <img [src]="meteoDay.weatherIcon" class="img-fluid" [title]="meteoDay.weatherDescription"/>
            </div>
            <div class="text-center">
              <small><b>{{meteoDay.tmin}}</b> °C</small>
            </div>
            <div class="text-center">
              <small><b>{{meteoDay.tmax}}</b> °C</small>
            </div>
          </div>
      }
      </div>
    }

  </div>
</div>
