<header>
  <ptgr-header/>
</header>
<nav></nav>

<div class="container-fluid">
  <br/>
  <div class="row">
    @if(resizeService.resize() != "XSmall") {
      <div [ngClass]="{'col-xxl-2 col-xl-2 mb-2': showAlmanac, 'col-xxl-1 col-xl-1' : !showAlmanac}">
        <aside>
          <div class="row">
            @if(showAlmanac) {
              <div class="col-10" style="padding-right: 0px;">
                <ptgr-almanach/>
              </div>
            }
            <div class="col-2" style="cursor: pointer;align-content: center;" (click)="showOrHideAlmanac()">
              @if(showAlmanac) {
                <i class="bi bi-arrow-bar-left"></i>
              }
              @else {
                <i class="bi bi-arrow-bar-right"></i>
              }
            </div>
          </div>


        </aside>
      </div>
    }
    <div [ngClass]="{'col-xxl-10 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12' : showAlmanac, 'col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12' : !showAlmanac}" >
      <main>
        <router-outlet />
      </main>
    </div>
  </div>
</div>

<footer class="fixed-bottom">
  <ptgr-footer/>
</footer>


